.DayPicker {
  display: inline-block;
  font-size: 1rem;
}
.DayPicker-wrapper {
  position: relative;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-bottom: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.DayPicker-NavButton {
  position: absolute;
  top: 1em;
  right: 1.5em;
  left: auto;
  display: inline-block;
  margin-top: 2px;
  width: 1.25em;
  height: 1.25em;
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;
  color: #8b9898;
  cursor: pointer;
}
.DayPicker-NavButton--prev {
  margin-right: 1.5em;
  width: 15px;
  height: 15px;
  background-color: #ff4444;
  border-radius: 50px;
}
.DayPicker-NavButton--next {
  width: 15px;
  height: 15px;
  background-color: #333;
  border-radius: 50px;
}
.DayPicker-Months {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
}
.DayPicker-Month {
  display: table;
  margin: 0 1em;
  margin-top: 1em;
  border-spacing: 0;
  border-collapse: collapse;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.DayPicker-Caption {
  display: table-caption;
  margin-bottom: .5em;
  padding: 0 .5em;
  text-align: left;
}
.DayPicker-Caption>div {
  font-weight: 500;
  font-size: 1.15em;
}
.DayPicker-WeekdaysRow {
  display: table-row;
}
.DayPicker-Weekday {
  display: table-cell;
  padding: .5em;
  color: #8b9898;
  text-align: center;
  font-size: .875em;
  width: 34px;
  box-sizing: border-box;
}
.DayPicker-Weekday abbr[title] {
  border-bottom: none;
  text-decoration: none;
}
.DayPicker-Day {
  border-radius: 50%;
  text-align: center;
}
.DayPicker-Day, .DayPicker-WeekNumber {
  display: table-cell;
  padding: .5em;
  vertical-align: middle;
  cursor: pointer;
}
.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default;
}
.DayPicker-Week {
  display: table-row;
}



